*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
    body {
  background-color: #8212; /* soft gray-blue background */
  padding: 40px;
  display: flex;
  justify-content: center;
}
.row{
    margin: 100px auto;
    width: 100%;
    max-width: 600px;
    /* height: 100vh; */
    padding: 30px;
    background-color:#ddd;
    border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);}
h2{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: #333841;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}
h2 span{
    font-size: 32px;
    /* background-color: #2121;
    border-radius: 5px; */
}
.row input{
padding: 15px;
width: 100%;
max-width: 80%;
border: none;
outline: none;
border-radius: 5px;
background-color: #ffff;
}
.row button{
    padding: 10px;
    outline: none;
    border: none;
    background-color: orange;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    flex-shrink: 0;
    margin: 5px 0 ;
    /* height: 40px; */
}
.row button:hover{
    background-color: rgb(240, 119, 5);
    color: #fff;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
::placeholder{
  color: #333;
  font-weight: bold;
  font-size: 16px;
  font-style: italic;
}
/* body {
  font-family: Arial, sans-serif;
  padding: 20px;
} */

    /* padding: 15px;
width: 100%;
max-width: 100%;
border: none;
outline: none;
border-radius: 10px; 
list-style: none;
/* background-color: #fff; */

.todo_item{
    max-width: 600px;
    width: 100%;
     display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 15px ;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
   word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
 
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icon span{
     cursor: pointer;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
  background-color: #2121;

  
}
.icon span :hover{
    color: red;
}
#updatetodo ,input {
  margin-top: 8px;
  padding: 8px;
  width: 100%;
  border: 1px solid #333841;
  border-radius: 6px;
}
#udatetodo ,span{
      cursor: pointer;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
  background-color: #2121;
}
#updatetodo ,span:hover{
    color: red;

}
/* .todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.icons span {
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
}

.icons span:hover {
  color: red;
} */
@media (max-width: 500px) {
  .row h2 {
    font-size: 20px;
  }

  .icon i {
    font-size: 16px;
  }
}